/Semana 2/clase_20102025/nbproject/private/
/Semana 2/clase_20102025/build/
/Semana 3/clase_29102025/nbproject/private/
/Semana 3/clase_29102025/build/
/Semana 3/ejercicios_clase_29102025/nbproject/private/
/Semana 3/ejercicios_clase_29102025/build/
/Semana 3/ejercicios_clase_29102025/dist/
/Semana 3/Reposicion_30102025/nbproject/private/
/Semana 3/Reposicion_30102025/build/
/Semana 4/clase_03112025/nbproject/private/
/Semana 4/clase_03112025/build/
/Semana 4/Reposicion_clase3-11-2025/nbproject/private/
/Semana 4/Reposicion_clase3-11-2025/build/
/Semana 4/clase_04112025/nbproject/private/
/Semana 4/clase_04112025/build/
/Semana 4/clase_04112025/dist/
/Semana 4/Reposicikon_04112025/nbproject/private/
/Semana 4/Reposicikon_04112025/build/
/Semana 4/clase_05112025/nbproject/private/
/Semana 4/clase_05112025/build/
