/Semana 2/clase_20102025/nbproject/private/
/Semana 2/clase_20102025/build/
/Semana 3/clase_29102025/nbproject/private/
/Semana 3/clase_29102025/build/
/Semana 3/ejercicios_clase_29102025/nbproject/private/
/Semana 3/ejercicios_clase_29102025/build/
/Semana 3/ejercicios_clase_29102025/dist/
/Semana 3/Reposicion_30102025/nbproject/private/
/Semana 3/Reposicion_30102025/build/
